/* your styles go here */
.side-navbar.scroll  {
	height: calc(100vh - 80px);
	overflow-y: auto;
}

.content-inner.scroll {
	max-height: calc(100vh - 80px);
	/*min-height: calc(100vh - 80px);*/
	overflow: auto;
}

.content-wrapper {
	min-height: calc(100% - 102px);
}

button.logout {
	background-color: transparent;
	border: none;
	color: white;
}

.btn.btn-xs, .btn-group-xs .btn,
.navbar .navbar-nav > li > a.btn.btn-xs, .btn-group-xs
.navbar .navbar-nav > li > a.btn {
  padding: 4px 15px;
  font-size: 10px;
}

td > a, td > button {
	margin-right: 10px;
}

.text-light {
	font-weight: 500;
    color: #555;
}

.round-link {
	padding: 2px 30px;
    border-radius: 40px;
    background: #54e69d;
    color: #fff;
    margin-top: 5px;
    font-size: 0.9em;
    text-decoration: none !important;
}

a.round-link:hover {
	color: #fff;
}

a.round-link.disabled {
	cursor: not-allowed;
	opacity: .65;
	pointer-events: none;
}