/* your styles go here */
.side-navbar.scroll  {
	height: calc(100vh - 80px);
	overflow-y: auto;
}

.content-inner.scroll {
	max-height: calc(100vh - 80px);
	/*min-height: calc(100vh - 80px);*/
	overflow: auto;
}

.content-wrapper {
	min-height: calc(100% - 102px);
}

button.logout {
	background-color: transparent;
	border: none;
	color: white;
}