/* your styles go here */
.side-navbar.scroll  {
	height: calc(100vh - 80px);
	overflow-y: auto;
}

.content-inner.scroll {
	max-height: calc(100vh - 80px);
	/*min-height: calc(100vh - 80px);*/
	overflow: auto;
}

.content-wrapper {
	min-height: calc(100% - 102px);
}

button.logout {
	background-color: transparent;
	border: none;
	color: white;
}

.btn.btn-xs, .btn-group-xs .btn,
.navbar .navbar-nav > li > a.btn.btn-xs, .btn-group-xs
.navbar .navbar-nav > li > a.btn {
  padding: 4px 15px;
  font-size: 10px;
}

td > a, td > button {
	margin-right: 10px;
}